/* GLOBALS */
label {
    position: relative;
    display: block;
}

input {
    position: relative;
    display: block;
    text-align: center;
}

.btn {
    background-color: #c44849;
    border-color: #c44849;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
    background-color: #3780d7;
    border-color: #3780d7;
}

.field-label-large {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.5em;
}

.field-input {
    width: 30%;
}

.field-input-center {
    width: 30%;
    margin: 0 auto;
}

/* NAVBAR */
#navbar {
    background-color: #c44849;
}

#navbar-logo-image {
    float: left;
    margin-right: 10px;
    vertical-align: middle;
}

#navbar-title-text {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 2em;
    vertical-align: bottom;
}

/* FOOTER */
#main-footer {
    background-color: #f5f5f5; 
    text-align: center;
}

#main-footer-content {
    font-size: 8px;
    margin: 0 auto;
}

#home-title {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 4em;
    text-align: center;
    padding-top: 50px;
}

#home-tagline {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 2em;
    text-align: center;
    padding-top: 10px;
}

#data-entry {
    padding-top: 150px;
}

#company-list-label {
    visibility: hidden;
}

#company-list {
    margin: 0 auto;
    width: 70%;
}

#next-page-btn {
    visibility: hidden;
}

#bottom-btn-navbar {
    width: 86.5%;
}

/* ALERTS */
#postcode-alert {
    visibility: hidden;
    display: none;
}

/* FORM */
/* Form Elements */
/* label {
    position: relative; 
}

input {
    position: relative;
}

/* Form Labels
#form-programme-code-label {
    left:54%;
}

#form-month-selector-label {
    left:14%;
}

#form-authorised-by-label {
    left: 54%;
}

#form-exchange-rate-label {
    left: 26.5%;
}

#form-year-run-label {
    left: 14%;
}

/* Form Inputs
#form-programme-code-input {
    left: 54%; 
    width: 300px;
}

#form-month-selector-input {
    position: relative;
    left: 14%; 
    width: 300px;
}

#form-authorised-by-input {
    left: 54%; 
    width:300px;
}

#form-exchange-rate-input {
    left: 26.5%; 
    width:300px;
}

#form-year-run-input {
    left: 14%; 
    width: 300px;
}

/* BUTTONS 
#form-browse-file-btn {
    background-color: #026b0e; 
    border-color: #026b0e; 
    position:relative; 
    width:300px;
}

#form-file-upload-control {
    width:250px; 
    left: 30px;
}

#form-uploaded-filename {
    position: relative; 
    width: 300px;
}

#form-submission-btn {
    background-color: #026b0e; 
    border-color: #026b0e; 
    position:relative; 
    width:300px;
} */


